*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stile header  */

header {
  background-color: #0C325A;
  height: 500px;
}

.container {
  width: 80%;
  height: 100px;
  margin: auto;
}



.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
.logo {
  background-color: red;
  width: 20%;
  height: 100px;
  float: left;
}


.main-nav {
  background-color: green;
  width: 50%;
  height: 100px;
  float: left;
}

.buttons-nav {
  background-color: yellow;
  width: 30%;
  height: 100px;
  float: left;
}

.box-titolo {
  height: 400px;
  background-color: purple;
  position: relative;
  margin: auto;
}


.titolo-button {
  width: 50%;
  height: 200px;
  position: absolute;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}

/* stile header  */
