*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* stile header  */

header {
  background-color: #0C325A;
  height: 500px;
}

.container {
  width: 80%;
  height: 100px;
  margin: auto;
}



.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
.logo {
  /* background-color: red; */
  width: 20%;
  float: left;
  margin-top: 18px;
}

.logo img {
  max-width: 100%;
  vertical-align: middle;
}


.main-nav {
  width: 45%;
  font-size: 12px;
  float: left;
  margin-top: 30px;
}
.main-nav li {
  display: inline-block;
  list-style: none;
  padding-top: 2%;

}
.main-nav a {
  text-decoration: none;
  padding: 0 10px;
}

.buttons-nav {
  color: white;
  width: 35%;
  font-size: 12px;
  float: left;
  margin-top: 30px;
}
.buttons-nav li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

.buttons-nav a {
  text-decoration: none;
  color: white;
}

.login, .piano {
  padd
}



.box-titolo {
  height: 400px;
  background-color: purple;
  position: relative;
  margin: auto;
}

.titolo-button {
  width: 50%;
  height: 200px;
  position: absolute;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
}





/* stile header  */
